@model MicroLend.DAL.Entities.User
@{
    Layout = "_Layout";
}
<div class="container py-4">
    <h2 style="color:#008577">Edit User</h2>
    <form method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="mb-3">
            <label>Username</label>
            <input class="form-control" value="@Model.Username" disabled />
        </div>
        <div class="mb-3">
            <label>Role</label>
            <input name="role" class="form-control" value="@Model.Role" />
        </div>
        <div class="mb-3">
            <label>New Password (leave blank to keep)</label>
            <input type="password" name="password" class="form-control" />
        </div>
        <button class="btn btn-success" type="submit">Save</button>
        <a class="btn btn-secondary ms-2" href="/Admin/Users">Back</a>
    </form>
</div>