# Ignore Visual Studio temporary files
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Ignore build output folders (The ** means "look in all subfolders")
**/bin/
**/obj/

# Ignore database files
*.db
*.sqlite