@{ Layout = "_Layout"; }
<div class="container py-4">
    <h2>Lender Dashboard</h2>
    <div class="row">
        <div class="col-md-8">
            <p>Browse approved loans and make investments.</p>
        </div>
        <div class="col-md-4 text-end">
            <a class="btn btn-success" href="/Lender/Browse">Browse Loans</a>
        </div>
    </div>
</div>